<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body ng-app="myApp">
<div ng-controller="MyController">
  <input type="text" ng-model="empName">
  <p>员工姓名1:{{ empName }}</p>
</div>
<div ng-controller="MyController2">
  <input type="text" ng-model="empName">
  <p>员工姓名2:{{ empName }}</p>
</div>
<script type="text/javascript" src="../../js/angular-1.5.5/angular.js"></script>
<script type="text/javascript">
  // 新版本的写法
  // 创建模块对象
  var myModule = angular.module('myApp',[]); 
  // 生成作用域对象，返回module对象
  myModule
    .controller('MyController', function($scope){
      // 隐式声明依赖注入
    $scope.empName = 'kobe';
  })
    .controller('MyController2', ['$scope' ,function($a){
      // 显式声明依赖注入
      $a.empName = 'wade';
  }])
</script>
</body>
</html>